
<div class="row mt-5">
    <!-- Past Events -->
    <div class="col-sm">
        <h3>Past events</h3>
        <ul class="list-group list-group-flush"
            *ngFor="let e of pastEvents">
                <li class="list-group-item" (click)="openEventDetail(e);">
                    {{e.name}}
                </li>
        </ul>
    </div>

    <!-- Current Events -->
    <div class="col-sm">
        <h3>Current events</h3>
        <ul class="list-group list-group-flush"
            *ngFor="let e of currentEvents">
                <li class="list-group-item" (click)="openEventDetail(e);">
                    {{e.name}}
                </li>
        </ul>
    </div>

    <!-- Upcoming Events -->
    <div class="col-sm">
        <h3>Upcoming events</h3>
        <ul class="list-group list-group-flush"
            *ngFor="let e of upcomingEvents">
                <li class="list-group-item" (click)="openEventDetail(e);">
                    {{e.name}}
                </li>
        </ul>
    </div>
</div>

