
<div class="row mt-5">

    <div class="col-sm-8">
        <h1>Event Manager</h1>
    </div>
    <div class="col-sm-4"
         style="display: flex; align-items: center;"
        >
        <input #searchField
               type="search"
               placeholder="Search..."
               class="form-control"
               style="vertical-align: center"
               [ngModel]="searchQuery"
               (keyup)="onkey(searchField.value)"
        />
    </div>

</div>



