<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="eventForm" (ngSubmit)="submitForm()">
    <div class="modal-body">
        <div class="modal-boy">
            <div class="container">
                <input type="hidden"
                       id="eventId"/>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name"
                           type="text"
                           class="form-control"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input id="desc"
                            type="text"
                           class="form-control"
                           formControlName="desc"/>
                </div>
                <div class="form-group">
                    <label for="timeStarts">Event starts</label>
                    <input id="timeStarts"
                            type="text"
                           class="form-control"
                           formControlName="timeStarts"/>
                </div>
                <div class="form-group">
                    <label for="timeEnds">Event ends</label>
                    <input id="timeEnds"
                            type="text"
                           class="form-control"
                           formControlName="timeEnds"/>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input id="location"
                            type="text"
                           class="form-control"
                           formControlName="location"/>
                </div>
                <div class="form-group">
                    <label for="owner">Owner</label>
                    <input id="owner"
                            type="text"
                           class="form-control"
                           formControlName="owner"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-sm-2" *ngIf="eventId != ''">
            <button type="button"
                    class="btn btn-outline-danger"
                    [hidden]="(eventId == '')"
                    (click)="delete()">Delete</button>
        </div>
        <div class="col-sm-10 text-right">
            <button class="btn btn-success mr-2"
                    [disabled]="!eventForm.valid">Save event</button>
            <button type="button"
                    class="btn btn-outline-dark"
                    (click)="activeModal.close('Close click')">Close</button>
        </div>
    </div>
</form>