/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', serif;
    font-weight: 400;
}